@media only screen and (max-width: 600px) {
  h1 {
    color: #0c0114;
    position: absolute;
    width: 380px;
    left: 17px;
    top: 170px;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.06em;
  }

  .cate {
    width: 185px;
    height: 24px;
    position: absolute;
    left: 100px;
    top: 706px;
    cursor: pointer;
  }

  .sect-2 {
    background-color: #1f0231;
    position: absolute;
  }

  .f65 {
    position: absolute;
    width: 414px;
    height: 584px;
    left: 0px;
    top: 100px;
  }

  .rp1 {
    position: absolute;
    width: 382px;
    height: 340.33px;
    left: 16px;
    top: 720px;
  }

  .awards {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.04em;
    margin-top: 1600px;
    margin-left: -40px;
  }

  .text1 {
    margin-top: 20px;
    color: #000000;
    font-style: normal;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }

  .line {
    background-color: #fa9706;
    border-color: #fa9706;
    width: 90px;
    height: 5px;
    margin-top: 1130px;
    margin-left: 5px;
  }

  .coawards {
    position: absolute;
    width: 131px;
    height: 51px;
    left: 16px;
    top: 591px;
    margin-top: 1370px;
    margin-left: -15px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #ffffff;
  }

  .grp21 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 80px;
    top: 2050px;
    margin-left: 250px;

    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  }

  .f64 {
    position: absolute;
    width: 382px;
    height: 363.52px;
    left: 16px;
    top: 2180px;
  }

  .p-awards {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.04em;
    margin-top: 2400px;
    margin-left: -110px;
  }

  .line2 {
    background-color: #fa9706;
    border-color: #fa9706;
    width: 90px;
    height: 5px;
    margin-top: 680px;
    margin-left: 5px;
  }

  .c-awards {
    position: absolute;
    width: 131px;
    height: 51px;
    left: 16px;
    top: 591px;
    margin-top: 2150px;
    margin-left: -13px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #ffffff;
  }

  .grp22 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 2850px;
    /* margin-left: 250px; */

    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .rib1 {
    top: 2850px;
    /* margin-left: 250px; */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 151px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
  }

  .sec-4 {
    height: 100vh;
    background-color: #1f0231;
    margin-top: 290px;
  }
}
