.navbar {
  /* overflow: hidden; */
  /* font-family: sans-serif; */
  /* background-color: rgb(43, 226, 205); */
}

.slider ul {
  width: 100%;
  /* background-color: rgb(205, 116, 116); */
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider ul li {
  padding: 0.5rem;
  list-style: none;
}

.slider ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #3e0563;
  font-weight: bolder;
  text-transform: uppercase;
}

.menus-icon .menus {
  display: none;
  color: #3e0563;
  font-size: 50px;
  cursor: pointer;
  justify-content: flex-end;
  width: 180%;
}

.closed {
  display: none;
  color: #3e0563;
  cursor: pointer;
  width: 100%;
  justify-content: flex-start;
}

.closed .close {
  font-size: 40px;
}

.green {
  background-color: green;
  padding: 10px 40px;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .slider {
    position: fixed;
    top: -100%;
    min-width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: 1s ease;
  }

  .slider.active {
    top: 0;
    transition: 1s ease;
  }

  .slider ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider ul li {
    padding: 2rem;
    list-style: none;
  }

  .slider ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #3e0563;
  }

  .menus-icon .menus {
    display: block;
    color: #3e0563;
    font-size: 50px;
    cursor: pointer;
    justify-content: flex-end;
    width: 180%;
    margin-left: 1px;
  }

  .closed {
    display: flex;
    color: #3e0563;
    cursor: pointer;
    width: 80%;
    justify-content: flex-end;
  }

  .closed .close {
    font-size: 40px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-style: ridge;
  }

  .logos {
    margin-left: -40px;
    width: 180px;
  }

  img {
    width: 80px;
    height: 50px;
  }

  .slider {
    top: -150%;
    transition: 0.8s ease;
  }

  .slider.active {
    transition: 0.8s ease;
  }

  .slider ul li {
    padding: 2rem;
  }

  .slider ul li a {
    font-size: 18px;
  }

  .menus-icon .menus {
    font-size: 30px;
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-style: ridge;
  }

  .menus-icon .menus {
    font-size: 40px;
    margin-top: 15px;
  }

  .logos {
    margin-left: -50px;
    width: 500px;
  }

  .slider {
    top: -170%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 50px;
  }

  img {
    margin-left: 100px;
  }

  .slider ul li {
    padding: 0.1rem;
    width: 170px;
  }

  .green {
    background-color: white;
    /* padding: 10px 40px;
    border-radius: 5px; */
  }
}

/* .nav-menu.active {
  left: 0;
} */

/* .hamburger {
  display: flex;
  color: #3e0563;
  margin-right: -430px;
  margin-top: 10px;
} */

/* .nav-item {
  margin-left: -5px;
  padding: 25px;
  font-size: 18px;
} */

/* 
.logos {
  margin-top: 5px;
  margin-left: 20px;
}

.login {
  display: none;
  margin-top: 25px;
  margin-right: -10px;
  background: #eee8f2;
  border-radius: 4px;
  border-style: none;
  width: 93px;
  height: 51px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.sign-up {
  display: none;
  margin-right: 50px;
  margin-top: 25px;
  background: #3e0563;
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  width: 150px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 24px;
} */

/* @media only screen and (min-width: 600px) {
  .hamburger {
    margin-right: -800px;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    margin-right: -1100px;
  }

  .nav-item {
    font-size: 48px;
  }
} */

/* @media only screen and (min-width: 992px) {
  .navbar {
    border-bottom-style: ridge;
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: flex;
    color: #3e0563;
    margin-right: -430px;
    margin-top: 10px;
  }

  .nav-item {
    margin-left: -5px;
    padding: 25px;
    font-size: 25px;
  }

  .logos {
    margin-top: 5px;
    margin-left: 20px;
  }

  .login {
    display: none;
  }

  .sign-up {
    display: none;
  }
} */

/* .navbar {
  border-bottom-style: ridge;
  display: flex;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
}

.nav-menu {
  position: fixed;
  margin-top: 100px;
  left: -110%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
  z-index: 3;
  list-style: none;
}

.nav-menu.active {
  left: 0;
}

.hamburger {
  display: flex;
  color: #3e0563;
  margin-right: -430px;
  margin-top: 10px;
}

.nav-item {
  margin-left: -5px;
  padding: 25px;
  font-size: 18px;
}

.logos {
  margin-top: 5px;
  margin-left: 20px;
}

.login {
  display: none;
  margin-top: 25px;
  margin-right: -10px;
  background: #eee8f2;
  border-radius: 4px;
  border-style: none;
  width: 93px;
  height: 51px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.sign-up {
  display: none;
  margin-right: 50px;
  margin-top: 25px;
  background: #3e0563;
  border-radius: 4px;
  color: #ffffff;
  border-style: none;
  width: 150px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 24px;
}


@media only screen and (min-width: 600px) {
  .hamburger {
    margin-right: -800px;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    margin-right: -1100px;
  }

  .nav-item {
    font-size: 48px;
  }
}


@media only screen and (min-width: 992px) {
  .navbar {
    border-bottom-style: ridge;
    display: flex;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: row;
 
  }

  .hamburger {
    display: flex;
    color: #3e0563;
    margin-right: -430px;
    margin-top: 10px;
  }

  .nav-item {
    margin-left: -5px;
    padding: 25px;
    font-size: 25px;
  }

  .logos {
    margin-top: 5px;
    margin-left: 20px;
  }

  .login {
    display: none;
  }

  .sign-up {
    display: none;
   
  }
} */
